/*-- Import Fonts --*/
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap');


/*-- Global Page Styles --*/

:root {
    --dark: #090c0e;
    --light: #FCFCFC;
    --blue-gray: #2C2C34;
    --brown: #4C3C34;
    --yellow: #FCAC6C;
    --red-orange: #d4413c;
    --blue-green: #348464;
    --highlight: #d4413c55;
}

*::selection {
    background: var(--highlight);
}

h1 {
    position: relative;
}

h1::before {
    content: "";
    position: absolute;
    height: 15px;
    background: var(--yellow);
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 15px;
    width: 95%;
    z-index: -1;
    transform: rotate(0.5deg);
}

/* LAYOUT */

html { 
    background: var(--dark);
}

.blobs{
    filter: url('#goo');
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3vw;
    margin-bottom: 10vw;
}

.blob {
    background: var(--yellow);
    line-height:100px;
    text-align:center;
    color:white;
    font-size:40px;
    border-radius: 100%;
    animation: rotation 1s infinite ease-in-out;
    padding: 2vw;
    width: 15vw;
    height: 15vw;
    cursor: pointer;
    transition: scale 0.5s ease-in-out;
    display: grid;
    align-content: center;
    justify-content: center;
}

.blob:hover {
    scale: 1.2;
}

.blob > p {
    font-size: 2.75vw;
    color: var(--dark);
    line-height: 1em;
}

.hidden {
    display: none;
}

.description {
    margin-bottom: 15px;
}

/* IMAGES */

svg {
    visibility: hidden;
}

img {
    object-fit: cover;
    width: 5em;
    margin: auto;
    display: block;
}

/* FONTS */

h1, h2, h3, h4, h5, h6, p {
    font-family: 
    'Red Hat Text',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
    text-align: center;
    color: var(--light);
}

h1 {
    font-size: 75px;
    font-weight: bold;
}

h2 {
    font-size: 45px;
    transform: rotate(-0.5deg);
}

h2 > span {
    background-color: var(--yellow);
    color: var(--dark);
    padding: 15px; 
    margin: auto;
}

p {
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 165%;
}

a {
    text-decoration: none;
    color: var(--red-orange);
    position: relative;
}

a::after {
    position: absolute;
    content: "";
    bottom: 0;
    height: 1px;
    width: 40%;
    left: 30%;
    background-color: var(--red-orange);
    transition: 0.4s ease-out all .1s;
}

a:hover::after {
    width: 90%;
    left: 5%;
    transition: 0.5s ease all;
}

/* MEDIA QUERY */

@media (min-width: 800px) {
    .blob {
        width: 12vw;
        height: 12vw;
    }
    .blob > p {
        font-size: 1.5vw;
    }
    .content {
        margin: auto;
    }
    .description,
    .links {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1000px) {
    .blobs {
        margin-bottom: 6vw;
    }
    .blob {
        width: 8vw;
        height: 8vw;
    }
}

@media (min-width: 1440px) {
    .blob {
        width: 6vw;
        height: 6vw;
    }
}

@media (min-width: 1280px) {
    h1::before {
        width: 80%;
    }
    .description,
    .links {
        width: 65%;
    }
}

@media (min-width: 1600px) {
    .blobs {
        margin-bottom: 4vw;
    }
    h1::before {
        width: 60%;
    }
    .description,
    .links {
        width: 45%;
    }
}

/* ANIMATIONS */

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(0deg);
    }
}