/*-- Import Fonts --*/
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap');


/*-- Global Page Styles --*/

:root {
    --dark: #020202;
    --light: #FCFCFC;
    --blue-gray: #2C2C34;
    --brown: #4C3C34;
    --yellow: #FCAC6C;
    --red-orange: #D4543C;
    --blue-green: #348464;
}

/* LAYOUT */

html { 
    background: var(--dark); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.content > p > a {
    pointer-events: none;
    cursor: cell;
    text-decoration: none;
    color: white;
}

.blobs{
    filter: url('#goo');
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 25px 0;
}

.blob {
    background: var(--light);
    line-height:100px;
    text-align:center;
    color:white;
    font-size:40px;
    border-radius: 100%;
    animation: rotation 1s infinite ease-in-out;
    padding: 2vw;
    width: 15vw;
    height: 15vw;
    cursor: pointer;
    transition: scale 0.5s ease-in-out;
    display: grid;
    align-content: center;
    justify-content: center;
}

.blob:hover {
    scale: 1.2;
}

.blob > p {
    font-size: 2.75vw;
    color: var(--dark);
    line-height: 1em;
}

/* IMAGES */

svg {
    visibility: hidden;
}

img {
    object-fit: cover;
    width: 5em;
    margin: auto;
    display: block;
}

/* FONTS */

h1, h2, h3, h4, h5, h6, p {
    font-family: 
    'Red Hat Text',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
    text-align: center;
    color: var(--light);
}

h1 {
    font-size: 75px;
    font-weight: bold;
}

p {
    padding: 0;
    margin: 0;
}

/* ANIMATIONS */

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(0deg);
    }
}